
<table>
	<tr>
		<td align="left"><b><u>Title</u></b></td>
		<td align="center"><b><u>Album</u></b></td>
		<td align="center"><b><u>Artist</u></b></td>
		<td align="right"><b><u>Genre</u></b></td>
		<td align="right" \>
		<td align="right" \>
	</tr>
	<%= render(:partial => 'filtered_list', :collection => filter_music_by_category) %>
</table>